.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    height: fit-content;
    background-color: #242424;
    gap: 15px;
    align-items: center;
    display: flex;
}

.navbar svg {
    color: rgba(85, 204, 21, 0.445);
    width: 55px;
    height: auto;
    padding: 10px;
    background-color: rgba(128, 240, 163, 0.378);
}

.navbar input {
    font-size: 16px;
}

.main_wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
}

.navbar button {
    display: block;
    width: fit-content;
    padding: 0.3rem 2rem;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    background-color: #f1f1f1;
    border: none;
    outline: none;
}

.dialog {
    width: 470px !important;
    color: #fff;
    background-color: #242424;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.versionmodal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.353);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar p {
    color: #fff;
}

.versionmodalin {
    width: 625px;
    height: 90vh;
    overflow: auto;
    border-radius: 10px;
    background-color: rgb(33, 31, 31);
    padding: 1.5rem;
    color: #f1f1f1 !important;
}

.versionmodalin_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dialog-inner {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sourceinnercode {
    width: 100%;
    background-color: black;
    white-space: pre;
    padding: 0.8rem;
    overflow-wrap: break-word;
}