*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}


.app-content {
  flex: 1;
  /* padding: 20px; */
  background: #fafafa;
}
