* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Geist";
}

.app-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}


.app-content {
  flex: 1;
  background: #000000;
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}